{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/datatable/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/employee/css/employee.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 class="mt-1 text-dark text-center">CADASTROS DE FUNCIONÁRIOS</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="dropdown-divider"></div>
            <p class="text-left mt-2">
                <button type="button" class="mr-2 btn btn-light btn-sm js-new border-dark"
                        data-url="{% url 'core:new-employee' %}"><i
                        class="fas fa-plus-circle mr-2"></i>Novo
                </button>
            </p>
            <table data-url="{% url 'core:data-employee' %}" id="table"
                   class="table table-hover table-sm bg-white display" cellspacing="0"
                   cellpadding="0"
                   style="border: none;" width="100%">
                <thead style="background: #08569E;" class="text-white text-center table-borderless">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Função</th>
                    <th>Departamento</th>
                    <th>Empresa</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot hidden>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="mb-5"></div>

    <!-- Modal -->
    <div class="modal fade" id="modal-include">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {% include 'core/alert.html' %}
            </div>
        </div>
    </div>

    <!-- Modal -->
{% endblock %}

{% block javascript %}
    <script src="{% static 'vendor/datatable/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery-mask/jquery.mask.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/employee/js/employee.js' %}" type="text/javascript"></script>
{% endblock %}